alias gs="git status"
alias ga="git add"
alias gm="git commit"

alias gdot="git --git-dir=$XDG_CONFIG_HOME/dotgit/public/ --work-tree=$HOME"
alias ghci="ghci -ghci-script=$XDG_CONFIG_HOME/ghci/startup"

alias ll="ls -Al"
alias xmr="xmonad --recompile"
alias xmrr="xmonad --recompile && xmonad --restart"

# vim: ft=zsh
